SUPABASE_URL=https://your-supabase-url
SUPABASE_KEY=your-supabase-anon-key
DATABASE_URL=database-url

OPENAI_API_KEY=your-openai-api-key
EMBEDDING_MODEL_NAME=text-embedding-3-small
EMBEDDING_SIZE=1536

LOCAL_MODEL_PATH="./local_models"
LOCAL_EMBEDDING_MODEL_NAME="nomic-ai/nomic-embed-text-v1.5"
LOCAL_EMBEDDING_SIZE=768

RERANKING_MODEL_NAME="cross-encoder/ms-marco-MiniLM-L-6-v2"

DEBUG=false
LOG_LEVEL=INFO

CORS_ORIGINS='["http://localhost:4200", "http://localhost:3000"]'