<hlm-field>
    <label hlmFieldLabel [for]="name()">{{ label() }}</label>
    <hlm-input-group>
      <hlm-input-group-addon>
				<ng-icon name="key" />
			</hlm-input-group-addon>
      <input
        hlmInputGroupInput
        [id]="name()"
        [type]="visible() ? 'text' : 'password'"
        [placeholder]="placeholder()"
        [value]="value()"
        (input)="handleInput($event.target.value)"
        [disabled]="disabled()"
        (blur)="touched.set(true)"
        [class.invalid]="invalid() && touched()"
        autocomplete="current-password"
        [attr.aria-invalid]="invalid()"
        [attr.aria-required]="required()"
        [attr.name]="name()"
      />
      <button
        type="button"
        hlmInputGroupButton
        (click)="changeVisibility()"
        [attr.aria-label]="visible() ? 'Hide password' : 'Show password'"
      >
        <ng-icon
          [name]="visible() ? 'eyeSlash' : 'eye'"
          class="text-muted-foreground"
        ></ng-icon>
      </button>
    </hlm-input-group>
    @if (invalid() && touched()) {
      <ul>
        @for (error of errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }
  </hlm-field>
